body {
  background-color: aqua;
  font-family: "Gill Sans";
  text-align: center;
}
.row {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.movie h1 {
  position: fixed;
  top: 0;
  margin-top: 100px;
}

/* Style for Movie component */
.movie {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 10px;
  width: 300px;
}

.movie img {
  width: 100%;
  height: auto;
}

.movie h2 {
  margin-bottom: 10px;
  font-weight: bold;
  font-family: "Gill Sans";
}

.movie p {
  font-size: 14px;
  line-height: 1.4;
}

.img {
  max-width: 250px;
  max-height: auto;
}
/* Style for showtimes component */
.card-body {
  background-color: bisque;
}

.card {
  border: 2px dotted black;
  border-radius: 5px;
  margin-bottom: 20px;
}
/* Style for snack component */
.table {
  border-collapse: collapse;
  border: 2px dotted black;
}

.table th,
.table td {
  border: 1px solid black;
}
/* Style for nav bar component */
.navbar {
  border: 2px dotted gold;
}
